
body {
  color:$color1;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

/*===================SLIDER DE IMAGENES==========================*/
#carousel {
  .carousel-inner {
    max-height:39rem !important;
  }
}

#img-equipo{
  max-height:30rem !important;
  width:50%;
}

/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
  margin-top:50px;
  background-color: $color4;
  display:flex;
  justify-content: center; 
  padding-bottom: 300px; 
}


.wrapper-local {
  width:50%;
  margin-left:100px;
  padding-top:150px;
}
.contacto-Map {
    
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}


/*===========================SECCION EQUIPO ==================================*/
#numeros-local{
  margin:0 !important;
  padding:0 !important;
}
#numeros-local div {
  padding: 0 20px 0 0;   
  text-align:left;
  height:48px;
}

#numeros-local div:not(:last-child) {
  border-right: 2px solid $color1;
}
#numeros-local div:not(:first-child) {
  padding-left:20px;
}

#numeros-local p{
  margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
  position:relative;
  top: -130px;
} 

#seccion-contacto{
  background-color:$color3;
  min-height:500px;
  position:relative;
}

/*=========================CONTACTOS FORMULARIO================================*/

#contenedor-formulario{
  position:absolute;
  top:30%;
  left:50%;
  transform: translate(-50%, -50%);
  background-color: $color4;
  border-radius:5px;
  
}

#titulo-formulario {
  color:$color5 ;
}

