#presupuestos-page {
  color:$color1;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: url('../../img/backgrounds/presupuesto.jpg');
  background-size: cover;

  h1 {
    @include tituloPrincipal()
  }

}





.box {
 
  height: 60%;
  background: rgba(0, 0, 0, .4);
  padding: 60px 20px;
  text-align: center;
  margin: 10px auto;
  margin-top: 4%;
  color: $color4;
  font-family: 'Century Gothic', sans-serif;
  border-radius: 15px;
  box-shadow: 7px 13px 37px $color5; 
}

.box-img {
  border-radius: 50%;
}

.box h1 {
  @include tituloPrincipal();
}

.box h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 30px
}

.box p {
  text-align: justify;
}

.box ul {
  margin-top:  325px;
  list-style: none;
}

.box ul li {
  display: inline-block;
}
.box ul li a {
  color: $color4;
  font-size: 45px;
  padding: 10px 5px;
  transition: all .5s ease-in-out;
  display: block;
}

.box ul li a:hover {
  color:#b9b9b9;
  transform: scale(1.3);
}
