
 #nosotros-page {
  color:$color1;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background: url('../../img/backgrounds/nosotros.jpg') ;
  background-size: cover;

  h1 {
    @include tituloPrincipal()
  }

}
/*===================MENU==========================*/






