@charset "UTF-8";
/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* UTILITIES & BASE */
.textColor {
  color: white;
}

.justifyText {
  text-align: justify;
}

.font {
  font-style: system-ui;
}

.bold {
  font-weight: bold;
}

.hyperlink {
  color: #212811;
}
.hyperlink:hover {
  color: black;
}
.hyperlink:hover:biografia {
  color: #212811;
}

/* LAYOUT */
h1 {
<<<<<<< HEAD
  animation-duration: 1s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
}

h2 {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
  text-align: center;
=======
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: infinite;
>>>>>>> d5d73f52c08fecc4dc8216ccdbab823a42fcd674
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#menu li a {
  color: white;
}
#menu li a.active, #menu li a:hover {
  color: rgb(0, 0, 0);
}
#menu li a button {
  font-size: 18px;
  font-weight: 600;
}

footer {
  background-color: #212811;
  min-height: 50px;
<<<<<<< HEAD
=======
  position: absolute;
>>>>>>> d5d73f52c08fecc4dc8216ccdbab823a42fcd674
  bottom: 0;
}

footer p {
  color: #6c757d;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: white;
}

nav {
  background-color: #212811;
}

#menu a {
  color: white;
  font-family: system-ui;
}

.top {
  background-size: cover !important;
  width: 100%;
  height: 600px;
}
.top .textImage {
  font-size: 170%;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 150px;
  color: #f2f4f3;
  text-align: center;
}

/* PAGES */
body {
  color: #212811;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/*===================SLIDER DE IMAGENES==========================*/
#carousel .carousel-inner {
  max-height: 39rem !important;
}

#img-equipo {
  max-height: 30rem !important;
  width: 50%;
}

/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
  margin-top: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}

.wrapper-local {
  width: 50%;
  margin-left: 100px;
  padding-top: 150px;
}

.contacto-Map {
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 5rem;
}

/*===========================SECCION EQUIPO ==================================*/
#numeros-local {
  margin: 0 !important;
  padding: 0 !important;
}

#numeros-local div {
  padding: 0 20px 0 0;
  text-align: left;
  height: 48px;
}

#numeros-local div:not(:last-child) {
  border-right: 2px solid #212811;
}

#numeros-local div:not(:first-child) {
  padding-left: 20px;
}

#numeros-local p {
  margin: 0;
}

/*=========================CONTACTOS BACKGROUND================================*/
#bg-contactos {
  position: relative;
  top: -130px;
}

#seccion-contacto {
  background-color: rgb(27, 42, 78);
  min-height: 500px;
  position: relative;
}

/*=========================CONTACTOS FORMULARIO================================*/
#contenedor-formulario {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
}

#titulo-formulario {
  color: black;
}

#biografia-page {
  color: #212811;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: url("../../img/backgrounds/biografia.jpg");
  background-size: cover;
}
#biografia-page h1  {
  font-size: 28px;
  color: white;
  margin-bottom: "2rem";
}

/*===================SLIDER DE IMAGENES==========================*/
body {
  margin: 0;
  padding: 0;
}

<<<<<<< HEAD
.fotos-galeria {
=======
img {
>>>>>>> d5d73f52c08fecc4dc8216ccdbab823a42fcd674
  width: 100%;
}

.row {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 5px;
}

.column img {
  margin-top: 5px;
}

#nosotros-page {
  color: #212811;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: url("../../img/backgrounds/nosotros.jpg");
  background-size: cover;
}
#nosotros-page h1  {
  font-size: 28px;
  color: white;
  margin-bottom: "2rem";
}

/*===================MENU==========================*/
#presupuestos-page {
  color: #212811;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  background: url("../../img/backgrounds/presupuesto.jpg");
  background-size: cover;
}
#presupuestos-page h1  {
  font-size: 28px;
  color: white;
  margin-bottom: "2rem";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  height: 60%;
  background: rgba(0, 0, 0, 0.4);
  padding: 60px 20px;
  text-align: center;
  margin: 10px auto;
  margin-top: 4%;
  color: white;
  font-family: "Century Gothic", sans-serif;
  border-radius: 15px;
  box-shadow: 7px 13px 37px black;
}

.box-img {
  border-radius: 50%;
}

.box h1 {
  font-size: 28px;
  color: white;
  margin-bottom: "2rem";
}

.box h2 {
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
  margin-bottom: 30px;
}

.box p {
  text-align: justify;
}

.box ul {
  margin-top: 325px;
  list-style: none;
}

.box ul li {
  display: inline-block;
}

.box ul li a {
  color: white;
  font-size: 45px;
  padding: 10px 5px;
  transition: all 0.5s ease-in-out;
  display: block;
}

.box ul li a:hover {
  color: #b9b9b9;
  transform: scale(1.3);
}

/*=========================FOOTER================================*/
/*=========================FOOTER================================*/
footer {
  background-color: #212811;
  min-height: 50px;
<<<<<<< HEAD
=======
  position: fixed;
>>>>>>> d5d73f52c08fecc4dc8216ccdbab823a42fcd674
  bottom: 0;
}

footer p {
  color: #6c757d;
  text-align: center;
}

#iconos i {
  font-size: 26px;
  padding: 0 8px;
  color: white;
}

nav {
  background-color: #212811;
}

#menu a {
  color: white;
  font-family: system-ui;
}

.buttonsection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  width: 300px;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.button {
  background-color: black;
  background-blend-mode: overlay;
  border: 2px solid #212811;
  color: rgb(237, 235, 238);
  font-stretch: semi-expanded;
  letter-spacing: 2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: auto;
  padding: 1.5em 1.5em;
  border-radius: 15px;
  margin: 2vh;
  font-size: 2.5vh;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #6c757d;
  border: 2px solid #6c757d;
  cursor: pointer;
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: 3;
}

/*=================== IMAGENES==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.galeria {
  font-family: "system-ui";
}

.galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}

.linea {
  border-top: 5px solid black;
  margin-bottom: 40px;
}

.contenedor-imagenes {
  display: flex;
  width: 85%;
  margin: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 3px;
}

.contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.781);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

.overlay h2 {
  color: white;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

/* MEDIA QUERIES */
/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/
@media (max-width: 1200px) {
  #intro,
  #equipo {
    width: 90% !important;
    margin: auto;
  }
  #local {
    flex-wrap: wrap;
    padding-top: 30px;
  }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
}
/*=========================MEDIA QUERIES PANTALLA SM================================*/
@media (max-width: 768px) {
  #intro,
  #equipo {
    width: 90% !important;
    margin: auto;
  }
  #img-equipo {
    max-height: 20rem !important;
    width: 90%;
  }
  .wrapper-local {
    width: 90%;
    margin: auto;
    padding-top: 50px;
  }
  #local {
    flex-wrap: wrap;
  }
  .mapa img {
    width: 100%;
    height: auto;
  }
  #bg-contactos {
    top: -120px;
  }
}
/*=========================MEDIA QUERIES PANTALLA EXTRA-SM================================*/
@media (max-width: 576px) {
  #servicios-fila-2 {
    width: 100% !important;
  }
  #servicios-fila-1 {
    width: 100% !important;
  }
  .icono-wrap {
    flex-wrap: wrap !important;
    justify-content: center !important;
    text-align: center;
  }
}
@media (max-width: 515px) {
  .box {
    padding: 0px 5px;
  }
}

/*# sourceMappingURL=index.css.map */
